<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="ratings" style="background: #f3f5f7;">
      <div class="score-wraper border-bottom-1px">
        <div class="overall-score">
          <h1 class="score">4.2</h1>
          <p class="text">综合评分</p>
          <span class="sell-count">高于周边商家90%</span>
        </div>
        <div class="detailed-score">
          <div class="service-score score-item">
            <span class="text">服务态度</span>
            <div class="detailed-star star36">
              <div class="star-item on"></div>
              <div class="star-item on"></div>
              <div class="star-item on"></div>
              <div class="star-item on"></div>
              <div class="star-item off"></div>
            </div>
            <span class="orange">4.1</span>
          </div>
          <div class="food-score score-item">
            <span class="text">美味指数</span>
            <div class="food-star star36">
              <div class="star-item on"></div>
              <div class="star-item on"></div>
              <div class="star-item on"></div>
              <div class="star-item on"></div>
              <div class="star-item off"></div>
            </div>
            <span class="orange">4.3</span>
          </div>
          <div class="rating-count score-item">
            <span class="text">送达时间</span>
            <span class="time">38分钟</span>
          </div>
        </div>
      </div>
      <div class="discuss">
        <div class="discuss-top border-bottom-1px">
          <div class="select-state border-bottom-1px">
            <div class="select-all select-item active">全选57</div>
            <div class="satisfied select-item">满意47</div>
            <div class="unsatisfactory select-item">不满意10</div>
          </div>
          <div class="param-content">
            <i class="icon-check_circle"></i>
            只看有内容否让评论
          </div>
        </div>
        <ul class="bottom-wrapper"></ul>
      </div>
    </div>
  </body>
</html>
